
@font-face {
  font-family: 'BenchNine';
  src: url('../fonts/BenchNine.ttf') format('truetype');
}

.sw-container .sw-typography {
  font-family: 'BenchNine', PingFangSC-Light, PingFangSC, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
}

/* ======================= 灯笼主题 ======================= */
/* .sw-container.sw-container {
  background: linear-gradient(#93FAF0, #E3F8E9);
}

.sw-container .sw-card-slim-background,
.sw-container .sw-card-bubble-container {
  background-image: url(../images/background-03.png);
  background-repeat: no-repeat;
  background-size: cover;
} */

/* ======================= 鹤主题 ======================= */
.sw-container.sw-container {
  background: linear-gradient(to left, #A8C7D3, #B7D3DD);
}

.sw-container .sw-card-slim-container,
.sw-container .sw-card-bubble-background {
  background: linear-gradient(to left, #A8C7D3, #B7D3DD);
}

.sw-container .sw-ui-main {
  background-image: url(../images/background-02.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* ======================= 国旗主题 ======================= */
/* .sw-container.sw-container {
  background: linear-gradient(#85A4B3, #CBD3D3);
}

.sw-container .sw-card-slim-background,
.sw-container .sw-card-bubble-container {
  background-image: url(../images/background-01.png);
  background-repeat: no-repeat;
  background-size: cover;
} */
