
.sw-card-slim-container.sw-card-slim-container *,
.sw-card-bubble-container.sw-card-bubble-container * {
  color: #F7E6CC;
}

.sw-container .sw-card-slim-background,
.sw-container .sw-card-bubble-container {
  background-image: url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
