@font-face {
  font-family: 'Christmas';
  src: url('../fonts/MountainsofChristmas.ttf') format('truetype');
}

#tp-weather-widget * {
  font-family: 'Christmas', 'Noto Serif SC', 'Georgia', 'Roboto', 'Helvetica',
    'Arial', sans-serif;
}

#tp-weather-widget .sw-ui-main-container {
  background: url('../images/bg.jpeg');
  background-size: 100% 100%;
  padding: 10px;
}

.sw-container .sw-card-slim-background,
.sw-container .sw-card-bubble-container {
  background-image: linear-gradient(to bottom, #bce2da, #fdfdfd);
  border-radius: 4px;
}

#tp-weather-widget .sw-ui-main-arc {
  border-color: #ecf0f2;
}

#tp-weather-widget .sw-ui-tile {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

#tp-weather-widget .sw-ui-tile::before {
  display: none;
}

#tp-weather-widget .sw-ui-tile-container {
  background-color: #f9f9f9ff;
  border-radius: 16px;
  box-shadow: 0 4px 6px 0 rgba(15, 37, 64, 0.1);
}

#tp-weather-widget .sw-ui-carousel-item {
  background: linear-gradient(
    to bottom,
    rgba(252, 252, 252, 0.8),
    rgba(244, 244, 244, 0.7)
  );
  border-radius: 16px;

  box-shadow: 0 4px 6px 0 rgba(15, 37, 64, 0.1);
}

#tp-weather-widget .sw-ui-carousel-item .sw-ui-tile-text-suffix,
#tp-weather-widget .sw-ui-carousel-item .sw-ui-tile-header {
  font-size: 1rem;
}

#tp-weather-widget .sw-ui-chart {
  margin-bottom: 16px;
}

#tp-weather-widget .sw-container {
  background: #bce2da;
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: contain;
}

#tp-weather-widget .sw-ui-main-timeContainer span {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 8px;
  box-shadow: 0 4px 6px 0 rgba(15, 37, 64, 0.1);
}

#tp-weather-widget .sw-ui-main-temperature {
  line-height: 3;
}
